{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_vexturintroduction/main

    This template renders the main content area for the vexturintroduction block.
}}

{{#noiconsdesign}}
    <div id="block-introduction-{{uniqid}}" class="block-introduction main-container">
        <div>
            <h1 class="pb-3">{{{greeting}}}</h1>
        </div>
        <div>
            {{{customtext}}}
        </div>
        <div class="row row-cols-{{smcol}} row-cols-sm-{{smcol}} row-cols-lg-{{count}} {{mdcol}} g-3">
            <div class="col theme-card">
                <h3>{{coursescount}}</h3>
                {{^showlinks}}
                    <p class="text-uppercase">{{#str}} courses, block_vexturintroduction {{/str}}</p>
                {{/showlinks}}
                {{#showlinks}}
                    <a href="{{{mycoursesurl}}}" class="text-uppercase">{{#str}}
                        courses, block_vexturintroduction {{/str}}</a>
                {{/showlinks}}
            </div>
            {{#showcompletedcourses}}
                <div class="col theme-card">
                    <h3>{{completedcourses}}</h3>
                    {{^showlinks}}
                        <p class="text-uppercase">{{#str}} completedcourses, block_vexturintroduction {{/str}}</p>
                    {{/showlinks}}
                    {{#showlinks}}
                        <a href="{{{mycoursesurl}}}" class="text-uppercase">{{#str}}
                            completedcourses, block_vexturintroduction {{/str}}</a>
                    {{/showlinks}}
                </div>
            {{/showcompletedcourses}}
            {{#showunreadmessages}}
                <div class="col theme-card">
                    <h3>{{unreadconversations}}</h3>
                    {{^showlinks}}
                        <p class="text-uppercase">{{#str}} unreadmessages, block_vexturintroduction {{/str}}</p>
                    {{/showlinks}}
                    {{#showlinks}}
                        <a href="{{{messagesurl}}}" class="text-uppercase">{{#str}}
                            unreadmessages, block_vexturintroduction {{/str}}</a>
                    {{/showlinks}}
                </div>
            {{/showunreadmessages}}
            {{#showactivities}}
                <div class="col theme-card">
                    <h3>{{activitiescount}}</h3>
                    <p class="text-uppercase">{{#str}} activities, block_vexturintroduction {{/str}}</p>
                </div>
            {{/showactivities}}
            {{#showavggrade}}
                {{#averagegrade}}
                    <div class="col theme-card">
                        <h3>{{averagegrade}}</h3>
                        {{^showlinks}}
                            <p class="text-uppercase">{{#str}} avggrade, block_vexturintroduction {{/str}}</p>
                        {{/showlinks}}
                        {{#showlinks}}
                            <a href="{{{gradesurl}}}" class="text-uppercase">{{#str}}
                                avggrade, block_vexturintroduction {{/str}}</a>
                        {{/showlinks}}
                    </div>
                {{/averagegrade}}
            {{/showavggrade}}
        </div>
    </div>
{{/noiconsdesign}}
{{#withiconsdesign}}
    <div id="block-introduction-{{uniqid}}" class="block-introduction withicons-introduction">
        <div class="row row-cols-{{smcol}} row-cols-sm-{{smcol}} row-cols-lg-{{count}} {{mdcol}} g-3">
            <div class="col block-introduction-inner-block theme-card">
                <div class="block-introduction-main-col-container">
                    <div class="icon-with-number">
                        <i class="fas fa-book" {{#iconscolour}}style="color:{{{iconscolour}}}"{{/iconscolour}}></i>
                        <h3 class="mb-0"
                            {{#maintxtcolour}}style="color:{{{maintxtcolour}}}"{{/maintxtcolour}}>{{coursescount}}</h3>
                    </div>
                    {{^showlinks}}
                        <p class="mb-0"
                           {{#additionaltxtcolour}}style="color:{{{additionaltxtcolour}}}"{{/additionaltxtcolour}}>{{#str}}
                            courses, block_vexturintroduction {{/str}}</p>
                    {{/showlinks}}
                    {{#showlinks}}
                        <div>
                            <a href="{{{mycoursesurl}}}" class="mb-0"
                               {{#additionaltxtcolour}}style="color:{{{additionaltxtcolour}}}"{{/additionaltxtcolour}}>{{#str}}
                                courses, block_vexturintroduction {{/str}}</a>
                        </div>
                    {{/showlinks}}
                </div>
            </div>
            {{#showcompletedcourses}}
                <div class="col block-introduction-inner-block theme-card">
                    <div class="block-introduction-main-col-container">
                        <div class="icon-with-number">
                            <i class="fas fa-check-circle"
                               {{#iconscolour}}style="color:{{{iconscolour}}}"{{/iconscolour}}></i>
                            <h3 class="mb-0"
                                {{#maintxtcolour}}style="color:{{{maintxtcolour}}}"{{/maintxtcolour}}>{{completedcourses}}</h3>
                        </div>
                        {{^showlinks}}
                            <p class="mb-0"
                               {{#additionaltxtcolour}}style="color:{{{additionaltxtcolour}}}"{{/additionaltxtcolour}}>{{#str}}
                                completedcourses, block_vexturintroduction {{/str}}</p>
                        {{/showlinks}}
                        {{#showlinks}}
                            <div>
                                <a href="{{{mycoursesurl}}}" class="mb-0"
                                   {{#additionaltxtcolour}}style="color:{{{additionaltxtcolour}}}"{{/additionaltxtcolour}}>{{#str}}
                                    completedcourses, block_vexturintroduction {{/str}}</a>
                            </div>
                        {{/showlinks}}
                    </div>
                </div>
            {{/showcompletedcourses}}
            {{#showunreadmessages}}
                <div class="col block-introduction-inner-block theme-card">
                    <div class="block-introduction-main-col-container">
                        <div class="icon-with-number">
                            <i class="fas fa-comments"
                               {{#iconscolour}}style="color:{{{iconscolour}}}"{{/iconscolour}}></i>
                            <h3 class="mb-0"
                                {{#maintxtcolour}}style="color:{{{maintxtcolour}}}"{{/maintxtcolour}}>{{unreadconversations}}</h3>
                        </div>
                        {{^showlinks}}
                            <p class="mb-0 "
                               {{#additionaltxtcolour}}style="color:{{{additionaltxtcolour}}}"{{/additionaltxtcolour}}>{{#str}}
                                unreadmessages, block_vexturintroduction {{/str}}</p>
                        {{/showlinks}}
                        {{#showlinks}}
                            <div>
                                <a href="{{{messagesurl}}}" class="mb-0"
                                   {{#additionaltxtcolour}}style="color:{{{additionaltxtcolour}}}"{{/additionaltxtcolour}}>{{#str}}
                                    unreadmessages, block_vexturintroduction {{/str}}</a>
                            </div>
                        {{/showlinks}}
                    </div>
                </div>
            {{/showunreadmessages}}
            {{#showactivities}}
                <div class="col block-introduction-inner-block theme-card">
                    <div class="block-introduction-main-col-container">
                        <div class="icon-with-number">
                            <i class="fas fa-tasks" {{#iconscolour}}style="color:{{{iconscolour}}}"{{/iconscolour}}></i>
                            <h3 class="mb-0"
                                {{#maintxtcolour}}style="color:{{{maintxtcolour}}}"{{/maintxtcolour}}>{{activitiescount}}</h3>
                        </div>
                        <p class="mb-0"
                           {{#additionaltxtcolour}}style="color:{{{additionaltxtcolour}}}"{{/additionaltxtcolour}}>{{#str}}
                            activities, block_vexturintroduction {{/str}}</p>
                    </div>
                </div>
            {{/showactivities}}
            {{#showavggrade}}
                {{#averagegrade}}
                    <div class="col block-introduction-inner-block theme-card">
                        <div class="block-introduction-main-col-container">
                            <div class="icon-with-number">
                                <i class="fas fa-chart-line"
                                   {{#iconscolour}}style="color:{{{iconscolour}}}"{{/iconscolour}}></i>
                                <h3 class="mb-0"
                                    {{#maintxtcolour}}style="color:{{{maintxtcolour}}}"{{/maintxtcolour}}>{{averagegrade}}</h3>
                            </div>
                            {{^showlinks}}
                                <p class="mb-0"
                                   {{#additionaltxtcolour}}style="color:{{{additionaltxtcolour}}}"{{/additionaltxtcolour}}>{{#str}}
                                    avggrade, block_vexturintroduction {{/str}}</p>
                            {{/showlinks}}
                            {{#showlinks}}
                                <div>
                                    <a href="{{{gradesurl}}}" class="mb-0"
                                       {{#additionaltxtcolour}}style="color:{{{additionaltxtcolour}}}"{{/additionaltxtcolour}}>{{#str}}
                                        avggrade, block_vexturintroduction {{/str}}</a>
                                </div>
                            {{/showlinks}}
                        </div>
                    </div>
                {{/averagegrade}}
            {{/showavggrade}}
        </div>
    </div>
    <style>
            {{#editmode}}
            .block-introduction {
                margin-top: 25px;
            }
            {{/editmode}}
            {{#bgcolour}}
            .block_vexturintroduction {
                background-color: {{{bgcolour}}};
            }
            {{/bgcolour}}
    </style>
    {{#js}}
        let innerBlocks = document.querySelectorAll('.block-introduction-inner-block');
        if (innerBlocks.length >= 5) {
            innerBlocks.forEach(function(element) {
            element.style.fontSize = '0.813rem';
            });
        }
    {{/js}}
{{/withiconsdesign}}